{% extends "homebase.html" %}

{% block title %}Contact-{{setting.title}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head%}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url}}' />{% endblock %}

{% block content %}
    <style>
    .banner-bg-1{
        background-image: url("../../uploads/images/banner.jpg");
    }
    </style>
    <!-- breadcrumb-start -->
    <section class="breadcrumb breadcrumb_bg banner-bg-1 overlay2 ptb200">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Contact Us</h2>
                            <p> <a href="/">Home ></a> <span></span>Contact</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-end -->
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Contact Form</h2>
                    </div>
                    <div class="col-lg-6">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tag }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form  class="form-contact contact_form" method="post">
                            <div class="form-group">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="button button-contactForm boxed-btn">Send Message</button>
                            </div>
                        </form>

                    </div>
                    <div class="col-lg-6">
                        {{ setting.contact|safe}}
                    </div>
                </div>
            </div>
    </section>
    <!-- ================ contact section end ================= -->

{% endblock %}