{% load static %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- header-start -->
<script>
    $(function() {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });
    function AutoCompleteSelectHandler(event, ui)
    {
        var selectedObj = ui.item;
    }
</script>
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area white-bg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/">
                                <img src="{% static 'img/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="/">Home</a></li>
                                    </li>
                                    <li><a href="#">Categories<i class="ti-angle-down"></i></a>
                                        {% load mptt_tags %}
                                        <ul class="submenu">
                                            {% recursetree category %}
                                                <li><a href="/category/{{ node.id }}/{{ node.slug }}">
                                                    {{ node.title }}
                                                    {% if not node.is_leaf_node %}
                                                        <ul class="children">
                                                            <li>{{ children }}</li>
                                                        </ul>
                                                    {% endif %}
                                                </a>
                                                </li>
                                            {% endrecursetree %}
                                        </ul>
                                    </li>
                                    <li><a href="/aboutus">AboutUs</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/shopcart/">ShopCart<i class="fa fa-sm fa-shopping-basket"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="quote-area">
                            <div class="search-bar">
                                <a id="search_1" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                            </div>
                            {% if user.id is not None %}
                                <div class="get-quote d-none d-lg-block">
                                    <a class="btn btn-success" href="#">{{user.first_name}}</a>
                                    <a class="btn btn-danger" href="/logout/">Logout</a>
                                </div>
                            {% else %}
                                <div class="get-quote d-none d-lg-block">
                                    <a class="btn btn-success"  href="/login/">Login</a>
                                    <a class="btn btn-primary"  href="/join/">JoinUs</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
                <div class="search_input" id="search_input_box">
                    <div class="container ">
                        <form class="d-flex justify-content-between search-inner" method="post" action="/search/">
                            {% csrf_token %}
                            <input name="query" type="text" class="form-control" id="query" placeholder="Food Search">
                            <button type="submit" class="btn"></button>
                            <span class="fa fa-close" id="close_search" title="Close Search"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->