{% extends "homebase.html" %}

{% block title %}Login-{{setting.title}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head%}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url}}' />{% endblock %}

{% block content %}
   <style>
    .banner-bg-1{
        background-image: url("../../uploads/images/banner.jpg");
    }
    </style>
    <!-- breadcrumb-start -->
<section class="breadcrumb breadcrumb_bg banner-bg-1 overlay2 ptb200">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Join Us</h2>
                            <p> <a href="/">Home ></a> <span></span>JoinUs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color:grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color:red">{{ error }}</p>
                        {% endfor %}
                      </p>
                    {% endfor %}
                    <button type="submit">JoinUs</button>
                </form>
            </div>
            <div class="col-lg-6">
                {{ setting.contact|safe}}
            </div>
        </div>

    </section>
    <!-- ================ contact section end ================= -->

{% endblock %}