{% extends "homebase.html" %}

{% block title %}{{categorydata.title}}-{{setting.title}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head%}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url}}' />{% endblock %}

{% block content %}
     <!-- breadcrumb-start -->
    <section class="breadcrumb breadcrumb_bg banner-bg-1 overlay2 ptb200">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Our Restaurants</h2>
                            <p> <a href="/">Home ></a> <span></span>Restaurant</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-end -->
   <div class="service-area">
        <div class="container">
            <div class="row">
                {% for rs in restaurant %}
                <div class="col-xl-4 col-md-4">
                    <div class="single-service">
                        <div class="service-thumb" >
                            <img style="height:250px" src="{{ rs.image.url }}" alt="">
                        </div>
                        <h3>{{ rs.title }}</h3>
                        <p>{{rs.description}}</p>
                        <a href="/restaurant/{{ rs.id }}" class="genric-btn primary circle btn-sm" style="color: black"> <span>Products</span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}