<style>
    .hover-overlay-container {
        position: relative;
        width: 1400px;
    }
    .hover-overlay-container:hover .overlay-image {
        opacity: 0.3;
    }
    .hover-overlay-container:hover .overlay-btn-container {
        opacity: 1;
    }
    .hover-overlay-container .overlay-image {
        display: block;
        width: 100%;
        height: auto;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .hover-overlay-container .overlay-btn-container {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transition: .5s ease;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .hover-overlay-container .overlay-btn-container .overlay-btn {
        color: #fff;
        font-size: 16px;
        padding: 10px 16px;
        background-color: coral;
        text-decoration: none;
    }
</style><!-- slider-area-start -->
<div class="slider-area" style="height: 450px">
    <div class="slider-active owl-carousel">
        {% for rs in sliderdata %}
            <div class="single-slider " style="height: 450px">
                <div class="hover-overlay-container">
                    <img class="overlay-image" src="{{ rs.image.url }}" alt="">
                    <div class="overlay-btn-container btn-lg">
                        <a href="/restaurant/{{ rs.restaurant_id}}" class="overlay-btn">{{ rs.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>