{% extends "homebase.html" %}

{% block title %}{{profile.user_name}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head%}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url}}' />{% endblock %}

{% block content %}
    <style>
        .banner-bg-1{
            background-image: url("../../uploads/images/banner.jpg");
        }
    </style>
    <!-- breadcrumb-start -->
    <section class="breadcrumb breadcrumb_bg banner-bg-1 overlay2 ptb200">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>User Profile</h2>
                            <p> <a href="/">Home ></a> <span></span>User Orders Detail</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-end -->
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">User Panel</h2>
                    </div>
                    <div class="col-lg-2">
                        {% include "user_panel.html" %}
                    </div>
                    <div class="col-lg-10">
                        <div class="col-12">
                            <h2 class="contact-title">Order Information</h2>
                        </div>
                        <table class="table">
                            <tr>
                                <th scope="col">Name Surname</th>
                                <td>{{ order.first_name }} {{ order.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Adress</th>
                                <td>{{ order.address }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Phone</th>
                                <td>{{ order.phone}}</td>
                            </tr>
                            <tr>
                                <th scope="col">Note</th>
                                <td>{{ order.adminnote }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Date</th>
                                <td>{{ order.create_at }}</td>
                            </tr>
                        </table>
                        <div class="col-12">
                            <h2 class="contact-title">User Orders Detail</h2>
                        </div>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>Restaurant</th>
                                <th>Food</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                            {% for rs in orderitems %}
                                <tr>
                                    <td>
                                        <a href="/restaurant/{{ rs.restaurant_id }}">
                                            <img src="{{ rs.foods.image.url }}" style="height: 60px">
                                        </a>
                                    </td>
                                    <td>{{ rs.restaurant.title }}</td>
                                    <td>{{ rs.foods.title }}</td>
                                    <td>{{ rs.price }}</td>
                                    <td>{{ rs.quantity }}</td>
                                    <td>{{ rs.amount }}</td>
                                    <td>{{ rs.status }}</td>
                                    <td>{{ rs.create_at }}</td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
    </section>
    <!-- ================ contact section end ================= -->

{% endblock %}