{% extends "homebase.html" %}

{% block title %}ShopCart{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head%}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url}}' />{% endblock %}

{% block content %}
    <!-- breadcrumb-start -->
    <section class="breadcrumb breadcrumb_bg banner-bg-1 overlay2 ptb200">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>ShopCart</h2>
                            <p> <a href="/">Home ></a> <span></span>ShopCart</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-end -->
    <div class="service-area">
        <div class="container">
            <div class="row">
                <table cellpadding="3" width="1200"  class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Restaurant</th>
                        <th>Food Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rs in shopcart %}
                        <tr>
                            <td> <img src="{{ rs.food.image.url }}" style="height: 50px;"></td>
                            <td><h4>{{ rs.food.restaurant }}</h4></td>
                            <td><h4>{{ rs.food }}</h4></td>
                            <td><h4>${{ rs.food.price }}</h4></td>
                            <td><h4>{{ rs.quantity }}</h4></td>
                            <td><h4>${{ rs.amount }}</h4></td>
                            <td><a href="/order/deletefromcart/{{ rs.id}}" class="btn-sm btn-danger" onclick="return confirm('Are you sure?')">X</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <th colspan="4"></th>
                        <th>TOTAL</th>
                        <th colspan="2">${{ total }}</th>
                    </tr>
                    <tr>
                        <th colspan="4"></th>
                        <th><a href="/order/orderproduct" class="btn btn-block btn-success">SatınAl</a></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}